<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	
		<context:component-scan base-package="com.drugstore.pdp">
					<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		</context:component-scan>
		
		 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">  
     	   		<property name="driverClassName"  value="oracle.jdbc.driver.OracleDriver"></property>  
      	  		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"></property>  
      	 	 	<property name="username" value="drug"></property>  
       	 		<property name="password" value="drug"></property>  
  		</bean>
  
  		<!--  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">  
	        <property name="driverClassName"  value="org.hsqldb.jdbc.JDBCDriver"></property>  
	        <property name="url" value="jdbc:hsqldb:mydatabase"></property>  
	        <property name="username" value="SA"></property>  
	        <property name="password" value=""></property>  
	  	</bean> -->
  
   	<bean id="mysessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"><property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>	
			<value>com.drugstore.pdp.product.entity.ProductInfo</value>
			<value>com.drugstore.pdp.entity.User</value>
			<value>com.drugstore.pdp.entity.UserRole</value>
			<value>com.drugstore.pdp.entity.Address</value>
			<value>com.drugstore.pdp.entity.BussinesDetails</value>
			</list>

	</property><!-- org.hibernate.dialect.OracleDialect -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect"> org.hibernate.dialect.OracleDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				 <prop key="connection.autoReconnect">true</prop>
			</props>
		</property>
	</bean>
		
	

<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager"> 
   <property name="sessionFactory" ref="mysessionFactory" /> 
</bean> 


	<bean id="htemplate" class="org.springframework.orm.hibernate4.HibernateTemplate" autowire="byName">  
       <property name="sessionFactory" ref="mysessionFactory"></property>  
    </bean>  


   <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">  
		<property name="dataSource" ref="dataSource"></property>  
	</bean>  
	
</beans>
